<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
</head>
<body>
    <h1>Cadastrar Alunos</h1>
    <form action="/add" class="container" method="POST">
        <input type="text" name="nome" placeholder="Digite seu nome" />
        <br />
        <input type="text" name="email" id="form-email" placeholder="Digite seu e-mail" />
        <br />
        <input type="text" name="cep" id="form-cep" placeholder="Digite seu cep" />
        <br />
        <input type="text" name="logradouro" id="form-logradouro" placeholder="Digite seu endereço" />
        <br />
        <input type="text" name="numero" id="form-numero" placeholder="Digite seu número" />
        <br />
        <input type="text" name="bairro" id="form-bairro" placeholder="Digite seu bairro" />
        <br />
        <input type="submit" value="Enviar" />
    </form>

</body>
</html>