<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Alunos</title>
</head>
<body>
    <h1>Editar Aluno {{ aluno.nome }}</h1>
    <form action="/edit/{{ aluno.id }}" method="POST">
        <input type="text" name="nome" value="{{ aluno.nome }}" />
        <input type="text" name="email" value="{{ aluno.email }}" />
        <input type="text" name="cep" value="{{ aluno.cep }}" />
        <input type="text" name="logradouro" value="{{ aluno.logradouro }}" />
        <input type="text" name="numero" value="{{ aluno.numero }}" />
        <input type="text" name="bairro" value="{{ aluno.bairro }}" />
        <br />
        <input type="submit" value="Enviar" />
    </form>
</body>
</html>