<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}">
    <title>Cadastro de Alunos</title>
</head>
<body>
    <div class="container">
        <h1 align="center">Cadastro de Alunos</h1>
        <a href="/add"> <img src="{{ url_for('static', filename = 'img/adicionar.png') }}"> Adicionar Aluno</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>CEP</th>
                    <th>Logradouro</th>
                    <th>Número</th>
                    <th>Bairro</th>
                </tr>
            </thead>
            <tbody>
                {% for a in alunos %}
                <tr>
                    <td>{{ a.nome }}</td>
                    <td>{{ a.email }}</td>
                    <td>{{ a.cep }}</td>
                    <td>{{ a.logradouro }}</td>
                    <td>{{ a.numero }}</td>
                    <td>{{ a.bairro }}</td>
                    <td>
                        <a href="/edit/{{a.id}}"><img src="{{ url_for('static', filename = 'img/lapis.png') }}"> Editar</a>
                        <a href="/delete/{{a.id}}"><img src="{{ url_for('static', filename = 'img/bin.png') }}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}" ></script>
</body>
</html>